.header {
  position: relative;
  color: #fff;
  z-index: 999;
  width: 100%;
  top:1em;
}

.logo {
  width: 390px;
  display: inline-block;
  
}
.menu {
  display: inline-block;
  
}
.menu:hover {
  color: #405a50;
}
.menu-text {
  color: #312f2f;
  opacity: 0.4;
}

.header .logo {
  margin-left: 3em;
}

.header .menu {
  float: right;
  margin-right: 3.7em;
  line-height: 2;
}
.hero {
     position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      text-align: center;
}
.background {
    background: url(https://images.hdqwalls.com/wallpapers/landscape-trees-mountains-clouds-digital-art-38.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    /*filter: brightness(0.8);*/

 
}
.hero-content {
  
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    width: 800px;
    margin: 60px;
    padding-bottom: 100px;
}
      .hero-title {
      
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0;
    backdrop-filter: brightness(99%) saturate(90%);
}

.gradient-text {
  font-family: 'Crete Round', serif;
    font-size: 1.6rem;
    color: #000;
   border-bottom: #02b8dd;
   backdrop-filter: blur(10px) saturate(90px);
  padding: 9px;
  border-radius: 24px;
 
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.herobutton {
 
    border: 0px solid ;
    color: #643131;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
   
    background-color: #f7f4f4;
    backdrop-filter: blur(16px) saturate(90px);
    margin: 7px;

}
.herobutton:hover {
  
    color: #9e7832;
    background-color: #e7e2e2;
    
}

  p {
    line-height: 20px;
    margin-bottom: 20px;
}
h6 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
h7 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #02b8dd;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}

.wrapper {
  
    margin: 0 auto;
    padding: 0 10px;
    width: 1040px;
}
 

      .primary-content {
    background-color: #03030b;
    color: #02b8dd;
    padding: 60px 0;
    text-align: center;
}

    .third-content {
    background: linear-gradient(to bottom, #03030b, white, white);
    color: #000;
    padding: 60px 0;
    text-align: center;
}

.roundedborder{
 border: 20px solid;
 border: double 1em transparent;
  border-radius: 30px;
  background-image: linear-gradient(to left, black, blue, black), 
                    linear-gradient(to bottom, white,black,  black);
  background-origin: border-box;
  background-clip: content-box, border-box;
  
}
.roundedborderthird{
 border: 30px solid;
 border: double 1em transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, black), 
                    linear-gradient(to bottom, white, gray, black);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.content-title h3 {
  border-bottom: #3b3e3f;
  color: #000;
}
  .content-image {
    
    width: auto;
    height: 500px;
    border: 10px;

    border-radius: 18px;
}
.primary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
.primary-content a img {
    margin: 20px 0;
}
.grid {
   display: flex;
  align-items: center;
  justify-content: center;

}
.info-content h3{
  font-size: 29px;
  
}
.info-content {
  margin: 20px;
}
article h4 {
    border-bottom: 1px solid #222d30;
    padding-bottom: 20px;
}
.more-link {
    border: 1px solid #02b8dd;
    color: #202627;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #02b8dd;
    color: #fff;
}
 .cta {
    font-size: 16px;
    padding: 60px 0;
    text-align: center;
  
}
.cta h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
    background: -webkit-linear-gradient(#f7f4f4,  #424030,#197397);
     -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.cta h4 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
    background: -webkit-linear-gradient(#f7f4f4,  #424030,#197397);
     -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


.ctba h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
    background: -webkit-linear-gradient(#f7f4f4, white, #f5ca0d,#030303);
     -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.ctba h4 {
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    border-bottom: 1px solid #000000;
    padding: 0 0 20px 0;
    background: -webkit-linear-gradient(#f7f4f4, white, #f5ca0d,#030303);
     -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.button-2 {
    display: block;
    margin: 0 auto;
    border: 2px solid #02b8dd;
    color: #02b8dd;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

.button-2:hover {
    background-color: #095564;
    color: #991f1f;
}
  
      
      .first-first-first-containerfooter {
  padding: 20px;
  background-color: #03030b;
}

